@font-face {
    font-family: "Times-Roman";
    font-weight: normal;
    src: url("times.ttf") format("truetype");
  }
  @font-face {
    font-family: "Times-Roman";
    font-weight: bold;
    src: url("times.ttf") format("truetype");
  }
  @font-face {
    font-family: "Times-Roman";
    font-style: italic;
    src: url("times.ttf") format("truetype");
  }
  @font-face {
    font-family: "Times-Roman";
    font-weight: bold;
    font-style: italic;
    src: url("times.ttf") format("truetype");
  }
